.game-board {
    width: 100%;
}
.game-board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-turn {
    display: flex;
    align-items: center;
    background: #1F3641;
    box-shadow: inset 0px -4px 0px #10212A;
    border-radius: 10px;
    padding: 1em 1.4em;

}
.player-turn-symbol {
    width: 20px;
    aspect-ratio: 1;
    margin-right: 1em;
    
}