
.player-turn {
    display: flex;
    align-items: center;
    background: #1F3641;
    box-shadow: inset 0px -4px 0px #10212A;
    border-radius: 10px;
    padding: 0.5em 1.5em;
    justify-content: center;

}
.player-turn-symbol {
    width: 20px;
    aspect-ratio: 1;
    margin-right: 0.5em;
    
}

.game-tile,
.game-board-footer div {
    border-radius: rem(10);
}

.game-tile {
    background-color: #1F3641;
    box-shadow: inset 0px -8px 0px #10212A;
    cursor: pointer;
}