
.player-turn {
    display: flex;
    align-items: center;
    background: #1F3641;
    box-shadow: inset 0px -4px 0px #10212A;
    border-radius: 10px;
    padding: 0.5em 1.5em;
    justify-content: center;

}
.player-turn-symbol {
    width: 20px;
    aspect-ratio: 1;
    margin-right: 0.5em;
    
}

.game-tile,
.game-board-footer div {
    border-radius: rem(10);
}

.game-tile {
    position: relative;
    background-color: #1F3641;
    box-shadow: inset 0px -8px 0px #10212A;
    cursor: pointer;
}

.game-tile:hover::before {
    
    width: 100%;
    display: grid;
    place-items: center;
    aspect-ratio: 1;
    
}



[data-turn="O"] > .game-tile:hover::before {

    content: url(/src/assets/img/icon-o-outline.svg);
}
[data-turn="X"] > .game-tile:hover::before {

    content: url(/src/assets/img/icon-x-outline.svg);
}

.X-marker {
    background-image: url(/src/assets/img/icon-x.svg);
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    -webkit-animation-name: bounceIn;
            animation-name: bounceIn;
    -webkit-animation-duration: 200ms;
            animation-duration: 200ms;
    
}
.O-marker {
    background-image: url(/src/assets/img/icon-o.svg);
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    -webkit-animation-name: bounceIn;
            animation-name: bounceIn;
    -webkit-animation-duration: 200ms;
            animation-duration: 200ms;
    
}



@-webkit-keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }



@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }

