[data-modal-active="false"] {
    display: none;
}

[data-modal-active="true"] {

    display: grid;
}



.modal-container {
    position: fixed;
    place-items: center;
    z-index: 20;
    inset: 0;
    background-color: hsl(0, 0%, 0%, 0.5);
    
}

.modal {
    
    padding-block: 3em;
    background-color: #1F3641;
}

.modal-titel {
    position: relative;
}
[data-winner="neutral"] {
    color: #A8BFC9;
}
[data-winner="X"] {
    color: #31C3BD;
}
[data-winner="X"]::before {
    content:url(/src/assets/img/icon-x.svg);
    width: 28px;
    height: 28px;
    position: absolute;
    top: -30%;
    left: -40%;
    
}
[data-winner="O"] {
    color: #F2B137
}

[data-winner="O"]::before {
    content:url(/src/assets/img/icon-o.svg);
    width: 28px;
    height: 28px;
    position: absolute;
    top: -30%;
    left: -40%;
    
}


.modal-content {
    display: grid;
    place-items: center;
    
        p {
    
            text-align: center;
        }
}


.modal-button-container {
    display: flex;
    gap: 2em;
    
}